<html lang="es">
    <body>
        <div class="blue-bg"></div>
        <div class="white-bg shadow"></div>
        <div class="content">
            <h1>{{title}}</h1>
            <h2>Desarrollo de Aplicaciones Web 2</h2>
            <h3>Juan José Bello Santana</h3>

            <form>

            <table>
                <tr>
                    <td colspan="4">
                        <input type="text" class="calc-screen" [(ngModel)]="text1" name="operator1">
                    </td>
                </tr>

                <tr>
                    <td colspan="4">
                        <input type="text" class="calc-screen" [(ngModel)]="text2" name="operator2">
                    </td>
                </tr>

                <tr>
                    <td colspan="4">
                        <input type="text" class="calc-screen" disabled value="{{result}}">
                    </td>
                </tr>

                <tr>
                    <input type="submit" class="opt-button" value="+" (click)="add()">&nbsp;
                    <input type="submit" class="opt-button" value="-" (click)="substraction()">&nbsp;
                    <input type="submit" class="opt-button" value="*" (click)="multiply()">&nbsp;
                </tr>

                <tr>
                    <input type="submit" class="opt-button" value="/" (click)="divide()">&nbsp;
                    <input type="submit" class="opt-button" value="A^2" (click)="potency_squared()">&nbsp;
                    <input type="submit" class="opt-button" value="A^B" (click)="potency()">&nbsp;
                </tr>

                <tr>
                    <input type="submit" class="opt-button" value="√" (click)="sqrt()">&nbsp;
                    <input type="submit" class="opt-button" value="mod" (click)="module()">&nbsp;
                    <input type="submit" id="reset-button" value="AC" (click)="reset()">&nbsp;
                </tr>
              
            </table>

            </form>
        </div>
    </body>
</html>   


